// простая перестановка
#include <iostream>


using namespace std;

int main()
{
    setlocale(LC_ALL, "rus");
   


    cout << "Дешифрование";
    int n, m;
    char d[50];
    char massiv[100][100];
    int count = 0;

    cout << "Исходное слово: ";// только англ слова желательно
    cin >> d;

    int amount = strlen(d);
    cout << "Количество символов: " << amount << endl;
    cout << "  Ввести ключ (M x N) " << endl << "\n"; // зависит от длины слова желательно подобрать так чтобы было например 8 это 2*4 или 7 это тоже 2*4
    cout << "Ввести кол-во строк: ";
    cin >> m;
    cout << "Ввести кол-во столбцов: ";
    cin >> n;

    for (int i = 0; i < n; i++) // вносим в массив слово 
    {
        for (int j = 0; j < m; j++)
        {
            massiv[i][j] = d[count];
            count++;
        }
    }

    cout << "Дешифрованное слово: ";// дешифруем слово и выводим его 
    for (int j = 0; j < m; j++)
    {
        for (int i = 0; i < n; i++) //выводим из массива
        {
            cout << massiv[i][j];
        }
    }


    std::cout << endl;
}
